.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 274px;
  border: 2px solid #ffffff;

  margin-bottom: 20px;

  /*Стилизация элемента*/
  &__item {
    width: 90px;
    height: 90px;
    border: 3px solid #ffffff;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.2);
    -webkit-box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.2);

    &--active {
      .content-wrapper__frame--empty {
        display: none;
      }

      .content-wrapper__frame--active {
        display: flex;
      }
    }
  }
  /*Внутрянка для черных силуэтов*/
  &__frame--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 84px;
    height: 84px;

    background-color: rgba(255, 255, 255, 0.35);

    box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.2)inset;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.2)inset;
    -moz-box-shadow: 0px 0px 20px 3px rgba(255,255,255,0.2)inset;
  }
  /*Внутрянка для выбранного элемента*/
  &__frame--active {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 84px;
    height: 84px;

    background-color: $bg-white;
  }

  &__image {
    max-height: 80px;
    min-height: 80px;
  }
}

@media only screen and (min-width: $tablet) {
  .content-wrapper {
    width: 538px;

    &--tip {
      margin-bottom: 20px;
    }

    /*Стилизация элемента*/
    &__item {
      width: 178px;
      height: 178px;
    }
    /*Внутрянка для черных силуэтов*/
    &__frame--empty {
      width: 172px;
      height: 172px;
    }
    /*Внутрянка для выбранного элемента*/
    &__frame--active {
      width: 172px;
      height: 172px;
    }

    &__image {
      max-height: 130px;
      min-height: 130px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .content-wrapper {
    width: 388px;
    margin-bottom: 10px;

    &--tip {
      margin-bottom: 20px;
    }

    /*Стилизация элемента*/
    &__item {
      width: 128px;
      height: 128px;
    }
    /*Внутрянка для черных силуэтов*/
    &__frame--empty {
      width: 122px;
      height: 122px;
    }
    /*Внутрянка для выбранного элемента*/
    &__frame--active {
      width: 122px;
      height: 122px;
    }

    &__image {
      max-height: 110px;
      min-height: 110px;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .content-wrapper {
    width: 538px;

    /*Стилизация элемента*/
    &__item {
      width: 178px;
      height: 178px;
    }
    /*Внутрянка для черных силуэтов*/
    &__frame--empty {
      width: 172px;
      height: 172px;
    }
    /*Внутрянка для выбранного элемента*/
    &__frame--active {
      width: 172px;
      height: 172px;
    }

    &__image {
      max-height: 130px;
      min-height: 130px;
    }
  }
}
