@font-face {
	font-family: 'Gotham Extra Light';
	src: url('../fonts/GothamExtraLight.eot');
	src: local('☺'), url('../fonts/GothamExtraLight.woff') format('woff'), url('../fonts/GothamExtraLight.ttf') format('truetype'), url('../fonts/GothamExtraLight.svg') format('svg'), url("../fonts/GothamExtraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
