.header-nav {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  top: -450px;
  left: 0;

  &--active {
    top: 45px;
  }
}

@media only screen and (min-width: $tablet) {
  .header-nav {
    top: -900px;
    &--active {
      top: 78px;
    }
  }
}

@media only screen and (min-width: $laptop) {

}

@media only screen and (min-width: $laptop-wide) {

}
