.help-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 8px;
  }

  &__text {
    font: {
      size: 0.906em;
      family: $regular-font;
      weight: 700;
    }

    color: $text-panel;
  }
}

@media only screen and (min-width: $tablet) {
  .help-list {
    &__item {
      margin-bottom: 20px;
    }

    &__text {
      font: {
        size: 2em;
      }
    }
  }
}
