.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /*Стилизация совмещенной части кнопок, УЗ и контента*/
  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    position: relative;
  }
  /*Стилизация для страниц Event и Gallery*/
  &--event {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
  }

  /*Стилизация для страницы Gallery*/
  &--gallery {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (min-width: 414px) {

}

@media only screen and (min-width: $tablet) {

}

@media only screen and (min-width: $laptop) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    /*Стилизация совмещенной части кнопок, УЗ и контента*/
    &__middle {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      width: 67.2%;

      position: relative;
    }
    /*Стилизация для страниц Event и Gallery*/
    &--event {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__upper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      width: 100%;
    }

    /*Стилизация для страницы Gallery*/
    &--gallery {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
