.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /*Стилизация совмещенной части кнопок, УЗ и контента*/
  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    position: relative;
  }
  /*Стилизация для страниц Event и Gallery*/
  &--event {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
  }

  /*Стилизация для страницы Gallery*/
  &--gallery {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    &__middle {
      &--splash {
        align-items: center;
      }
    }
  }
}
@media only screen and (min-width: $laptop) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    /*Splash item*/

    &--splash {
      align-items: center;
      justify-content: flex-start;
    }

    /*Стилизация совмещенной части кнопок, УЗ и контента*/
    &__middle {
      width: 71.2%;

      &--splash {
        align-items: flex-start;
      }
    }

    &--event {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }

    &--gallery {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }

    &__upper {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .main {
    /*Стилизация совмещенной части кнопок, УЗ и контента*/
    &__middle {
      width: 68.2%;
    }
  }
}
