.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;

  background-color: $bg-footer;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  padding-left: 11px;
  padding-top: 7px;
  padding-right: 11px;
  padding-bottom: 7px;

  position: absolute;

  bottom: 0;
  right: 80px;

  &__item {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    background-color: #ffffff;

    &:not(:last-of-type) {
      margin-right: 18px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    position: relative;

    .fa-youtube::before {
      position: absolute;
      content: '\f167';
      font-size: 1.5em;
      color: $text-black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-facebook-f::before {
      position: absolute;
      content: '\f39e';
      font-size: 1.5em;
      color: $text-black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font-size: 1.5em;
      color: $text-black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-twitter::before {
      position: absolute;
      content: '\f099';
      font-size: 1.5em;
      color: $text-black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-instagram::before {
      position: absolute;
      content: '\f16d';
      font-size: 1.5em;
      color: $text-black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .fa-odnoklassniki::before {
      position: absolute;
      content: '\f263';
      font-size: 1.5em;
      color: $text-black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
