$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$laptop-wide: 1152px;

$bg-body: #fff;

$text-black: #000000;
$text-lightblack: #231f20;
$text-white: #ffffff;
$text-mail: #b3b3b3;
$text-gray: #3b3b3b;
$text-lightgray: #828282;
$text-mediumgray: #231f20;
$text-darkgray: #242424;
$text-orange: #ff6700;
$text-form: #787878;
$text-footer: #ffffff;
$text-panel: #231f20;
$text-error: #ff0000;

$btn-film: #ff456d;
$btn-event: #6b3ea5;
$btn-enter: #8dc63f;
$btn-text-hover: #ff6700;
$btn-closer: #f44336;
$btn-symbol-submit: #ff6700;
$btn-register-popup: #ff6700;
$btn-enter-popup: #8dc63f;
$btn-upload: #f7c21d;

$bg-header: #ff6700;
$bg-footer: #111111;
$bg-white: #ffffff;
$bg-orange: #ff6700;

$header-links-bg: #1c1c1a;
$pattern-info-bg: #1c1c1a;
$pattern-list-bg: #ea5b0a;

$light-font: "Gotham Extra Light", sans-serif;
$regular-font: "Open Sans Condensed", sans-serif;
$bold-font: "Roboto Bold", sans-serif;

$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $text-black;
$baseFontFamily: $regular-font;
