$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$laptop-wide: 1152px;

$bg-body: #fff;

$text-black: #000000;
$text-lightblack: #1c1c1a;
$text-white: #ffffff;
$text-mail: #b3b3b3;
$text-gray: #3b3b3b;
$text-lightgray: #8c8d8d;
$text-mediumgray: #979797;
$text-darkgray: #242424;
$text-orange: #ef820d;
$text-form: #787878;
$text-footer: #838383;

$link-hover-bg: #e60c96;
$link-hover-text: #ffff00;

$bg-form-list: #ffffff;
$btn-bg-wogr: #ef820d;

$bg-footer: #1c1c1a;

$header-links-bg: #1c1c1a;
$pattern-info-bg: #1c1c1a;
$pattern-list-bg: #ea5b0a;

$thin-font: "Roboto Thin", sans-serif;
$light-font: "Roboto Light", sans-serif;
$regular-font: "Roboto Regular", sans-serif;
$medium-font: "Roboto Medium", sans-serif;
$bold-font: "Roboto Bold", sans-serif;
$black-font: "Roboto Black", sans-serif;

$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $text-black;
$baseFontFamily: $regular-font;
