.winner-slider {
  position: relative;
  width: 100%;
  height: 100%;

  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;

  /*Кнопки*/
  .prev-5 {
    display: none;
  }

  .next-5 {
    display: none;
  }
}

@media only screen and (min-width: $tablet) {
  .winner-slider {
    /*Кнопки*/
    .prev-5 {
      display: block;
      position: absolute;

      width: 32px;
      height: 32px;

      border: none;

      z-index: 10;

      top: 45%;
      left: -50px;

      background-image: url('../img/arrow-left.png');
      background-size: 19px 32px;
      background-repeat: no-repeat;
      background-position: right center;

      transition: 0.2s ease-in;

      cursor: pointer;
      outline: none;
    }

    .next-5 {
      display: block;
      position: absolute;

      width: 32px;
      height: 32px;

      border: none;

      z-index: 10;

      top: 45%;
      right: -50px;

      background-image: url('../img/arrow-right.png');
      background-size: 19px 32px;
      background-repeat: no-repeat;
      background-position: left center;

      transition: 0.2s ease-in;

      cursor: pointer;
      outline: none;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .winner-slider {
    /*Кнопки*/
    .prev-5 {
      width: 64px;
      height: 64px;

      top: 45%;
      left: -100px;

      background-size: 38px 64px;
    }

    .next-5 {
      width: 64px;
      height: 64px;

      top: 45%;
      right: -100px;

      background-size: 38px 64px;
    }
  }
}
