.controls-form {
  width: 34px;
  height: 34px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &__input + label {
    font-size: 0;

    background-color: $btn-upload;
    background-image: url('../img/upload.png');
    background-size: 24px 22px;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;
    border-radius: 50%;

    cursor: pointer;
    outline: none;

    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);
  }
}

@media only screen and (min-width: $tablet) {
  .controls-form {
    width: 57px;
    height: 57px;

    &__input + label {
      background-size: 41px 38px;

      width: 57px;
      height: 57px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .controls-form {
    width: 226px;
    height: 45px;

    margin-right: 20px;

    &__input + label {
      font: {
        size: 1.5em;
      }

      width: 226px;
      height: 45px;
      border-radius: 30px;

      background-image: none;
    }
  }
}

@media only screen and (min-width: $laptop-wide) {
  .controls-form {
    width: 292px;
    height: 57px;

    margin-right: 25px;

    &__input + label {
      font: {
        size: 1.875em;
      }

      width: 292px;
      height: 57px;
    }
  }
}
