.controls-filter {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__wrapper {
    width: 206px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    width: 56px;
    height: 56px;

    border-radius: 50%;
    border: none;

    cursor: pointer;
    outline: none;

    margin-bottom: 10px;

    &--active {
      background-color: $bg-orange;
      margin-bottom: 10px;
    }
  }

  &__description {
    width: 250px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    position: absolute;

    font: {
      size: 1em;
      family: $regular-font;
      weight: 700;
    }

    color: $text-white;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    height: 24px;

    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.3);

    &--active {
      transition-delay: 0.1s;
      z-index: 1;
      opacity: 1;
    }
  }
}
