.gallery-carousel {
  width: 100%;

  &:not(.slick-initialized) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    visibility: hidden;
  }
}
