.main-controls {
  width: 300px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 10px;

  z-index: -2;

  &__switch {
    display: block;
    background-color: $bg-white;
    border: none;
    border-radius: 50%;

    width: 34px;
    height: 34px;

    background-image: url('../img/switch.png');
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;

    outline: none;

    order: 1;

    &:active {
      background-color: $bg-orange;
    }
  }

  &__filter {
    order: 2;
  }

  &__index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 95px;
    height: 34px;

    border-radius: 30px;
    background-color: $bg-white;

    text-decoration: none;
    font: {
      size: 0.875em;
      family: $regular-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    order: 3;
  }

  &__form {
    order: 4;
  }
}

@media only screen and (min-width: 414px) {
  .main-controls {
    width: 350px;

    &__switch {
      display: block;
      background-color: $bg-white;
      border: none;
      border-radius: 50%;

      width: 34px;
      height: 34px;

      background-image: url('../img/switch.png');
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;

      outline: none;

      order: 1;

      &:active {
        background-color: $bg-orange;
      }
    }

    &__filter {
      order: 2;
    }

    &__index {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 95px;
      height: 34px;

      border-radius: 30px;
      background-color: $bg-white;

      text-decoration: none;
      font: {
        size: 0.875em;
        family: $regular-font;
      }

      color: $text-black;
      line-height: 1;
      text-transform: uppercase;

      order: 3;
    }

    &__form {
      order: 4;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .main-controls {
    width: 610px;

    &__switch {
      width: 57px;
      height: 57px;

      background-size: 34px 34px;
    }

    &__filter {
      order: 2;
    }

    &__index {
      width: 208px;
      height: 57px;

      border-radius: 30px;

      font: {
        size: 1.875em;
      }

      order: 3;
    }

    &__form {
      order: 4;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .main-controls {
    width: 655px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    margin-top: 30px;

    z-index: -2;

    &__index {
      display: none;
    }

    &__switch {
      display: none;
    }
  }
}
