.main-logo {
  width: 18.6%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  padding-top: 10px;

  &__link {
    display: block;

    width: 357px;
    height: 270px;
  }

  &__frame {
    width: 357px;
    height: 270px;
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
